/*-------------- over all style --------------- */
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' ,sans-serif;
    box-sizing: border-box;
}

body{
    background: #efefef;
}

/* -------------Nav Bar Style ----------------------- */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#1876f2;
    padding: 5px 5%;
    /* border: 3px solid red; */
}

.nav-left , .nav-right, .search-box{
    display: flex;
    align-items: center;
    /* border: 3px solid green; */
}
.nav-left ul li{
    display: inline-block;
    color: whitesmoke;
    padding-left: 20px;
}
.nav-right{
     /* border: 3px solid blue; */
}
.user-pic img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 20px;
}
.search-box{
    width: 350px;
    background: #efefef;
    display: flex;
    align-items: center;
    border-radius: 20px;
     padding-left: 5px;
}
.search-box img{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: #efefef;
}
.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border:0px;
}
.show-online{
    position: relative;
}
.show-online::after{
    content: '';
    width: 5px;
    height: 5px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #3ee74f;
    position: absolute;
    top: 0;
    right: 0;
}

   /* ssssssssssssssssss   start main Container CSS  sssssssssssssss */
   .body-container{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content:space-between  ;

   }

   /* ssssssssssssssssss   start left Container CSS  sssssssssssssss */
   .left-subcontainer{
    background: #f3f8f4;
    /* height: 300px; */
    width: 25%;
    /* display: flex; */
    align-items: center;
    /* display: flex; */
    flex-direction: column;

   }

   .center-subcontainer{
    background: #f3f8f4;
    height: 300px;
    width: 47%;

   }

   .right-subcontainer{
    background: #f3f8f4;
    height: 300px;
    width: 25%;
    padding: 25px;

   }

   .imp-links a, .your-shortcuts a{

    text-decoration: none;
    display: flex;
    /* align-items: center; */
    margin:20px;
    color: rgb(68, 122, 122);
    width: fit-content;
    font-size:small;
    color: steelblue;
   }

   .your-shortcuts p{
    padding: 20px;
   }

   .right-sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
    }

    .right-sidebar-title h4{
        font-weight: 600;
        font-size:16px;

    }
    .right-sidebar-title a{
        text-decoration: none;
        color:#1876f2;
        font-size: 12px;
    }

    /* ---------------- right pannal EVENTS ---------------- */
    .events{
        display: flex;
        font-size: 14px;
        margin-bottom: 20px;
    }
    .left-events{
        border-radius: 10px;
        height: 65px;
        width: 65px;
        margin-right: 15px;
        padding-top: 10px;
        text-align: center;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    }

    .events p{
        font-size: 12px;
    }
    .events a{
        font-size: 12px;
        text-decoration: none;
        color: #1876f2;
    }

    .left-events span{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #1876f2;
        color: #fff;
        font-size: 10px;
        padding: 4px 0;
        
    }
    /* .right-events{
        border-radius: 10px;
        height: auto;
        width: auto;
        margin-right: 15px;
        padding-top: 10px;
        text-align: center;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    } */